  <head>
    <meta charset="utf-8" />
	<style>
	  .citymap{
	  width: 100%;
	  height: 100%;
	  }
         p {text-align:center;}
	 h1 {text-align:center;}
         #t1 {background-color:#000000;}
         #t2 {background-color:#009933;}
         #t3 {background-color:#b30000;}

         .gitlab-corner-wrapper{overflow:hidden;width:100px;height:100px;position:absolute;top:0;right:0}
         .gitlab-corner{position:absolute;top:-16px;right:-50px;transform:rotate(45deg);background:#333;border:44px solid #333;border-bottom:none;border-top:#333 solid 16px}
         .gitlab-corner svg{width:60px;height:60px;margin-bottom:-4px}.cls-1{fill:#fc6d26}.cls-2{fill:#e24329}.cls-3{fill:#fca326}
         .gitlab-corner:hover .cls-1{animation:cycle .6s}
         .gitlab-corner:hover .cls-2{animation:cycleMid .6s}
         .gitlab-corner:hover .cls-3{animation:cycleEnd .6s}@keyframes cycle{100%,15%,60%{fill:#fc6d26}30%,75%{fill:#e24329}45%,90%{fill:#fca326}}@keyframes cycleMid{100%,15%,60%{fill:#e24329}30%,75%{fill:#fca326}45%,90%{fill:#fc6d26}}@keyframes cycleEnd{100%,15%,60%{fill:#fca326}30%,75%{fill:#fc6d26}45%,90%{fill:#e24329}}@media (max-width:500px)
{
    .gitlab-corner:hover .cls-1,
    .gitlab-corner:hover .cls-2,
    .gitlab-corner:hover .cls-3{animation:none}
    .gitlab-corner .cls-1{animation:cycle .6s}
    .gitlab-corner .cls-2{animation:cycleMid .6s}
    .gitlab-corner .cls-3{animation:cycleEnd .6s}
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
	</style>
	<script src="echarts.min.js"></script>
	<script src="echarts-countries-js/Kenya-en.js"></script>
  </head>

<body class="w3-container w3-center" bgcolor="LightGray">

<div class="gitlab-corner-wrapper" style="z-index:100; position: fixed;"><a href="https://gitlab.com/census-kenya-2019/census-kenya-2019.gitlab.io" class="gitlab-corner" aria-label="View source on GitLab"><svg id="logo_art" data-name="logo art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559"><g id="g44"><path id="path46" class="cls-1" d="M461.17,301.83l-18.91-58.12L404.84,128.43a6.47,6.47,0,0,0-12.27,0L355.15,243.64H230.82L193.4,128.43a6.46,6.46,0,0,0-12.26,0L143.78,243.64l-18.91,58.19a12.88,12.88,0,0,0,4.66,14.39L293,435,456.44,316.22a12.9,12.9,0,0,0,4.73-14.39"/></g><g id="g48"><path id="path50" class="cls-2" d="M293,434.91h0l62.16-191.28H230.87L293,434.91Z"/></g><g id="g56"><path id="path58" class="cls-1" d="M293,434.91,230.82,243.63h-87L293,434.91Z"/></g><g id="g64"><path id="path66" class="cls-3" d="M143.75,243.69h0l-18.91,58.12a12.88,12.88,0,0,0,4.66,14.39L293,435,143.75,243.69Z"/></g><g id="g72"><path id="path74" class="cls-2" d="M143.78,243.69h87.11L193.4,128.49a6.47,6.47,0,0,0-12.27,0l-37.35,115.2Z"/></g><g id="g76"><path id="path78" class="cls-1" d="M293,434.91l62.16-191.28H442.3L293,434.91Z"/></g><g id="g80"><path id="path82" class="cls-3" d="M442.24,243.69h0l18.91,58.12a12.85,12.85,0,0,1-4.66,14.39L293,434.91l149.2-191.22Z"/></g><g id="g84"><path id="path86" class="cls-2" d="M442.28,243.69h-87.1l37.42-115.2a6.46,6.46,0,0,1,12.26,0l37.42,115.2Z"/></g></svg></a></div>
<!-- Gitlab corner from https://gitlab.com/brycedorn/gitlab-corners-->

<div class="w3-container" style="width:100%" style="z-index: -1;">
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Choose Data to Display</button>
  <div id="myDropdown" class="dropdown-content">
    <button type="button" onclick="document.getElementById('VizTitle').innerHTML = 'Population Distribution in the Counties of Kenya in 2019';document.getElementById('jsdata').src = 'Kenya-Population.html'">Population Distribution</button>
    <button type="button" onclick="document.getElementById('VizTitle').innerHTML = 'Proportion of the Population with Computers or Tablets in the Counties of Kenya in 2019';document.getElementById('jsdata').src = 'Kenya-Proportion-With-Computers-Or-Tablets.html'">Proportion with Computers or Tablets</button>
    <button type="button" onclick="document.getElementById('VizTitle').innerHTML = 'Proportion of the Population with Refrigerators in the Counties of Kenya in 2019';document.getElementById('jsdata').src = 'Kenya-Proportion-With-Refrigerators.html'">Proportion with Refrigerators</button>
    <button type="button" onclick="document.getElementById('VizTitle').innerHTML = 'Proportion of the Population with Internet in the Counties of Kenya in 2019';document.getElementById('jsdata').src = 'Kenya-Proportion-With-Internet.html'">Proportion with Internet</button>
</div>
</div>

<h1 id="VizTitle" style="width:75%;text-align:center;">Population Distribution in the Counties of Kenya in 2019</h1>
        <iframe id="jsdata" src="Kenya-Population.html" style="height:75%;width:100%">
        </iframe>
</div>

  <footer>
  <p style="font-size:50%;">Data taken from the <a href="https://www.knbs.or.ke">Kenya National Bureau of Statistics</a>, original data is <a href="https://www.knbs.or.ke/?wpdmpro=2019-kenya-population-and-housing-census-volume-i-population-by-county-and-sub-county#">here</a>.</p> 
  <p style="font-size:50%;"><a href="https://github.com/echarts-maps/echarts-countries-js">eCharts-maps</a> is used to produce the graphs.</p>
  </footer>
  
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>
